/* Estilos de componentes generales */
.btn.btn-primary.btn-secondary {
    background: transparent;
    color: #000;
    border: 0;
    border-radius: 50px;
    font-family: 'fontsans-bold', Fallback, sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 25px;
    border: 1px solid #000;
    height: auto;
  
}
.three-holder.blue {
  font-family: "fontsans-light", Fallback, sans-serif;
  font-weight: 100;
  font-size: 28px;
  color: #1A1B1A;
}
/* FIN - Estilos de componentes generales */
.item-comparador-tarjeta-btn {
  padding-top: 18px;
  margin-left: 20px;
}
.item-comparador-tarjeta-btn-3 {
  padding-top: 0;
}
.item-comparador-tarjeta .cpd-area-img.seguros img {
    height: 220px;
    max-width: 100%;
}
.item-comparador-tarjeta .cpd-area-img img {
    max-width: 100%;
}
.item-comparador-tarjeta .item-comparador-tarjeta-nombre{
    padding-left:  25px;
    padding-right:  25px;
}
.item-comparador-tarjeta .item-comparador-tarjeta-descripcion {
  padding-left: 25px;
  padding-right:  25px;
}
#section-1037 * > .item-comparador-tarjeta .cpd-area-img {
    padding: 0;
    margin-bottom: 20px;
}
#section-1037 * > .item-comparador-tarjeta {
    height: 445px;
    margin-bottom: 30px;
}
