
  
  /* colors */
  .colorwhite {
    color: #fff;
  }
  .backgroundwhite {
    background-color: #fff;
  }
  
  .backgroundgrey {
    background-color: #f4f4f4;
  }
  
  .backgroundgreen {
    background-color: #00C389;
  }
  
  .colorgreen {
    color: #00C389;
  }
  
  .backgroundpink {
    background-color: #f5b6cd;
  }
  
  .colorpink {
    color: #f5b6cd;
  }
  
  .coloryellow {
    color: #fdda24;
  }
  
  .backgroundyellow {
    background-color: #fdda24;
  }
  
  .colorblack {
    color: #1A1B1A;
  }
  
  .backgroundblack {
    background-color: #1A1B1A;
  }
  
  .colorblack-icons {
    color: #2c2a29;
  }
  
  .backgrounblack-icons {
    background-color: #2c2a29;
  }
  
  .backgroundblue {
    background-color: #59CBE8;
  }
  
  .colorblue {
    color: #59CBE8;
  }
  
  .backgroundorange {
    background-color: #FF7F41;
  }
  
  .colororange {
    color: #FF7F41;
  }
  
  .backgroundpurple {
    background-color: #9063CD;
  }
  
  .colorpurple {
    color: #9063CD;
  }
  
  .icons-card-small-45 {
    max-width: 45px;
  }
  
  .border-btn {
    border-radius: 100%;
  }
  
  .shadow-cards {
    /*margin: 0;*/
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
      0px 3px 8px rgba(0, 0, 0, 0.114159) !important;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
      0px 3px 8px rgba(0, 0, 0, 0.114159) !important;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14),
      0px 3px 8px rgba(0, 0, 0, 0.114159) !important;
  }
  
  .line-height-60 {
    line-height: 50px;
  }
  
  .colorgrey2 {
    color: #6d6e72;
  }
  
  .backgroundgrey2 {
    background-color: #6d6e72;
  }
  
  .backgroundgrey3 {
    background-color: #E6E7E8;
  }
   
  .icons-cards-inversiones {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  .margin-zero {
    margin: 0;
  }
  
  .promociones-margin {
    margin: 15px 0px;
  }
  .container-p-card-promociones {
    margin: 25px 0px 25px 0px;
  }
  
  .container-cards-promociones {
    margin: 5% 0px 5% 0px;
  }
  
  .modal-content.second {
    padding: 20px;
  }
  

  .cards-thin-btn {
   margin-left: 20px;
  }
  
  .cards-thin {
    height: auto;
    width: 294px;
    margin-bottom: 5%;
  }
  
  .card-large {
    height: 430px;
    margin: 30px 0px;
  }
  